@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Cormorant+Garamond:wght@300&family=Forum&family=Oswald&family=Rethink+Sans&family=Righteous&family=Sen&family=Sevillana&family=Whisper&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Rethink Sans", sans-serif;
		
    }
}
@layer components {
    .list {
        @apply relative after:absolute after:w-0 after:top-6 after:left-0 after:bg-black hover:after:w-full after:duration-300  cursor-pointer  after:h-[2px] font-semibold font-extendfont2;
    }
    .actives {
        @apply relative after:absolute after:w-full after:top-6 after:left-0 after:bg-black after:h-[2px] font-extendfont2 font-semibold;
    }
    .cart {
        @apply absolute right-[2px] top-[-4px] bg-red-600 p-2.5 w-1 h-1 rounded-full flex justify-center items-center text-sm text-white;
    }
    .contact {
        @apply lg:flex items-center gap-1 font-extendfont2 font-semibold hidden sm:px-4 hover:bg-gray-100 rounded-full;
    }
    .minihead {
        @apply text-xl border-b-2 my-3 font-extendfont5;
    }
    .forunderline {
        @apply relative after:absolute my-4 text-xl after:top-7 after:left-0 after:bg-white after:h-[2px];
    }
    .footerli {
        @apply text-xl bg-gray-900 p-2 rounded-full flex hover:bg-slate-800 items-center gap-2;
    }
    /* for go to top */
    .goTopStyle0 {
        @apply h-screen absolute right-16 md:right-24 z-50;
    }
    .goTopStyle1 {
        @apply fixed hover:bg-white bg-gray-700 hover:text-black p-2 md:p-3 rounded-full duration-500 hover:border border-gray-300 cursor-pointer text-white transition ease-in-out hover:scale-105;
    }
    .goTopStyle2 {
        @apply flex items-center flex-col font-extendfont6 uppercase tracking-widest duration-500 transition ease-in-out text-sm gap-1;
    }
    .adminlayout {
        @apply rounded p-5 md:p-10 bg-white shadow
    }
    .ant-select-selector{
        @apply !border-none outline-none ring-0 !p-10
    }
    .inputLabel{
        @apply mb-2 font-[500] text-gray-600
    }
    .ant-btn{
        @apply !bg-blue
    }
}
@layer utilities {
    .go {
        top: 40rem;
        opacity: 100%;
        transition: 1s;
    }
    .up {
        top: 0;
        opacity: 0;
        transition: 1s;
    }
}
.slick-track {
    display: flex;
    gap: 10px;
}
.slick-next,
.slick-prev {
    background-color: rgb(70, 70, 70) !important;
    height: 40px;
	width: 40px;
    padding: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: auto;
    border-radius: 50%;
    top: 40%;
}
.slick-next {
    right: 2px;
}
.slick-prev {
    left: 2px;
}
.slick-next:hover,
.slick-prev:hover {
    background-color: rgb(0, 0, 0) !important;
	color: whitesmoke;
}
.forhide .slick-track {
    display: flex;
    gap: 15px;
}
.forhide .slick-prev {
    visibility: hidden;
}
.forhide .slick-next {
    visibility: hidden;
}
.active:hover .activetop {
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}
.activetop {
    transition: ease-in-out 0.5s;
}
.se-menu-list .txt,.se-placeholder{
    font-size: 16px !important;
    font-family: "Rethink Sans";
}

  .ant-btn-variant-solid{
    background-color: blue !important;
  }
  .ant-select-selection-placeholder{
    font-size: 16px !important;
    margin-bottom: 2px;
    font-weight: 500 !important;
    color: rgb(55, 65, 81);
    font-family: "Rethink Sans";
  }
  .ant-select-selection-item{
    font-size: 16px !important;
    font-weight: 500;
  }
  .ant-select-selector:hover{
    border-color:  #3c50e0 !important;
  }
  .ant-select-selector:focus{
    outline: none !important;
    box-shadow: none !important;
  }
.ant-select-selector{
    border-radius: 4px !important;
}

.ant-table-row-expand-icon{
    border-radius: 2px !important;
    margin-top: 5px !important
   
}
.custom-table .ant-table-row-expand-icon-cell {
    vertical-align: middle !important;
  }
.ant-table-cell {
  font-size: 16px !important; 
}
.categoriesTable .ant-table-thead .ant-table-cell{
    margin-left: 20px !important;
    padding-left: 42px !important;
}
